.faq_main_container {
  padding: 10rem 1rem 6rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8fafa url("/img/mask_group2@2x.png") no-repeat top left;
}

.faq_main_container h1 {
  font: normal normal normal 36px/78px Noto Sans TC;
  color: #3a3b4d;
}

.faq_items_container {
  width: 80vw;
  margin-top: 4rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: #ffffff;
  box-shadow: 0px 3px 12px #00000029;
  border-radius: 20px;
}

/* FAQ Items */
.faq_block {
  padding: 1rem;
  color: #3a3b4d;
  cursor: pointer;
}

.faq_block h4 {
  font: normal normal normal 28px/45px Noto Sans TC;
}

.faq_block:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}

.faq_showAns h4::after,
.faq_hideAns h4::after {
  content: "";
  float: right;
  display: block;
  width: 17px;
  height: 17px;
  border-right: 5px solid #3a3b4d;
  border-bottom: 5px solid #3a3b4d;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.faq_showAns h4::after {
  transform: rotate(45deg);
}

.faq_hideAns h4::after {
  transform: rotate(-45deg);
}

.hideAnswer,
.showAnswer {
  font: normal normal normal 14px/23px Noto Sans TC;
  letter-spacing: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.hideAnswer p,
.showAnswer p {
  padding: 1rem 2rem 0 0;
}

.showAnswer {
  height: 200px;
}

.hideAnswer {
  height: 0;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .faq_main_container {
    padding: 6rem 0 6rem 0;
    min-height: auto;
    background: #f8fafa url("/img/mask_group2.png") no-repeat center 3rem;
  }

  .faq_main_container h1 {
    font: normal normal 28px/78px Noto Sans TC;
  }

  .faq_items_container {
    width: 90vw;
    margin-top: 2rem;
  }

  .faq_block {
    padding: 2rem 1rem 2rem 1rem;
  }

  .faq_block h4 {
    font: normal normal normal 16px/23px Noto Sans TC;
  }

  .hideAnswer p,
  .showAnswer p {
    padding: 2rem 0 0 0;
  }

  .faq_showAns h4::after,
  .faq_hideAns h4::after {
    margin-top: 5px;
    width: 10px;
    height: 10px;
    border-right: 3px solid #3a3b4d;
    border-bottom: 3px solid #3a3b4d;
    border-radius: 2px;
  }
}

/* 螢幕寬度小於 992px 時 */
@media screen and (max-width: 992px) {
}

/* 螢幕寬度大於 992.1px 時 */
@media screen and (min-width: 992.1px) {
  .faq_showAns h4::after,
  .faq_hideAns h4::after {
    margin-top: 10px;
  }
}
