.main {
  background-color: #f8fafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 7rem;
}

.main_bg {
  padding-top: 6rem;
  background: url("/img/main_bg.svg") no-repeat center top/ cover;
}

.main_block1,
.main_block2,
.main_block3,
.main_block4 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_block2 {
  padding-top: 15rem;
}
.main_block3,
.main_block4 {
  padding-top: 7rem;
}
.main_block2 h1,
.main_block3 h1,
.main_block4 h1 {
  text-align: center;
  font: normal normal 36px/58px Noto Sans TC;
  color: #3a3b4d;
}

.main_block3 {
  background: transparent url("/img/ground_bg.svg") no-repeat;
  background-size: cover;
  background-position: bottom center;
}

/* bolt_main */
.bolt_main_container {
  width: 95%;
  display: flex;
  align-items: center;
}

.bolt_main_textbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #3a3b4d;
}

.bolt_main_textbox h1 {
  font: normal normal 60px/97px Noto Sans TC;
  white-space: nowrap;
}

.bolt_main_textbox span {
  border-bottom: 1px solid #3a3b4d;
}

.bolt_main_textbox p {
  font: normal normal 18px/26px Noto Sans TC;
}

.whitepaper::before {
  content: "";
  margin-top: -5px;
  margin-left: -5px;
  position: absolute;
  width: 43px;
  height: 43px;
  background: transparent url("/img/icons/book@2x.png") no-repeat left top / 75%
    75%;
}

.bolt_main_from_top,
.bolt_main_from_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bolt_main_btnbox {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.bolt_main_btnbox button {
  padding: 10px 30px 10px 30px;
  color: #3a3b4d;
  border: none;
  border-radius: 5rem;
  background: radial-gradient(
    closest-side at 50% 50%,
    #f8fafa 0%,
    #f2f2f2 100%
  );
  font: normal normal 18px/26px Barlow;
  letter-spacing: 0.09px;
  box-shadow: 0px 3px 7px #00000029;
  cursor: pointer;
}

.bolt_main_btnbox button:hover {
  box-shadow: none;
}

.bolt_main_imgbox {
  position: relative;
  width: 660px;
  height: 650px;
}

.animSafe {
  width: 624px;
  height: 775px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .bolt_main_imgbox {
    width: 340px;
    height: 330px;
  }

  .main_block2 {
    padding-top: 10rem;
  }

  .main_block2 h1,
  .main_block3 h1,
  .main_block4 h1 {
    font: normal normal 28px/58px Noto Sans TC;
  }

  .main_block3 {
    background-size: contain;
  }

  .bolt_main_textbox h1 {
    font: normal normal 28px/97px Noto Sans TC;
  }

  .animSafe {
    width: 400px;
    height: 350px;
  }
}

/* 螢幕寬度小於 992px 時 */
@media screen and (max-width: 992px) {
  /* bolt_main */
  .bolt_main_container {
    flex-direction: column-reverse;
  }

  .bolt_main_logo {
    display: none;
  }

  .bolt_main_textbox {
    margin-top: 2rem;
  }

  .bolt_main_from_top,
  .bolt_main_from_bottom {
    height: auto;
    align-items: center;
  }

  .bolt_main_btnbox {
    flex-direction: column;
  }

  .whitepaper,
  .bolt_main_btnbox button {
    margin-bottom: 3rem;
  }

  .scroll_down {
    display: none;
  }
}

/* 螢幕寬度大於 992.1px 時 */
@media screen and (min-width: 992.1px) {
  /* bolt_main */
  .bolt_main_container {
    padding: 7rem 0 1rem 0;
  }

  .bolt_main_textbox {
    padding: 3rem;
  }

  .bolt_main_from_top {
    height: 250px;
    animation: fromTop 1s ease-out 1 forwards;
  }

  .bolt_main_from_bottom {
    padding-top: 2.5rem;
    height: 150px;
  }

  .bolt_main_from_bottom,
  .scroll_down {
    animation: fromBottom 1s ease-out 1 forwards;
  }

  .bolt_main_imgbox {
    animation: fromRight 1s ease-out 1 forwards;
  }
}

@media (prefers-color-scheme: dark) {
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(30rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
