/* bolt_introduction */
.bolt_intro_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bolt_intro_odd,
.bolt_intro_even {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bolt_intro_odd {
  flex-direction: row;
}

.bolt_intro_even {
  flex-direction: row-reverse;
}

.bolt_intro_textbox {
  display: flex;
  flex-direction: column;
}

.bolt_intro_textbox h2 {
  color: #3a3b4d;
  font: normal normal normal 28px/45px Noto Sans TC;
  margin-bottom: 1rem;
}

.bolt_intro_textbox span {
  color: #31d3f5 !important;
}

.bolt_intro_textbox span:hover {
  color: #3158f5 !important;
}

.bolt_intro_textbox p {
  color: #3a3b4d;
  font: normal normal normal 14px/23px Noto Sans TC;
}

.animSteps {
  width: 600px;
  height: 600px;
}

.animConnections {
  width: 1400px;
  height: 400px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .bolt_intro_container {
    padding: 2rem 0 2rem 0;
  }

  .bolt_intro_odd,
  .bolt_intro_even {
    flex-direction: column;
  }

  .bolt_intro_textbox {
    padding: 2rem;
    align-items: center;
  }

  .animSteps {
    width: 300px;
    height: 300px;
  }

  .animConnections {
    width: 600px;
    height: 200px;
  }
}

/* 螢幕寬度小於 992px 時 */
@media screen and (max-width: 992px) {
}

/* 螢幕寬度大於 992.1px 時 */
@media screen and (min-width: 992.1px) {
  .bolt_intro_container {
    padding-bottom: 7rem;
  }
  .bolt_intro_textbox {
    width: 50%;
    padding: 4rem;
  }
}
