.privacy_main_container {
  padding: 10rem 10rem 6rem 10rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8fafa url("/img/main_bg.svg") no-repeat center top/ cover;
}

.privacy_main_container h1 {
  font: normal normal normal 48px/78px Noto Sans TC;
  color: #3a3b4d;
}

.privacy_contents_container {
  padding-top: 4rem;
  color: #3a3b4d;
}

.privacy_contents_container h4 {
  font: normal normal bold 14px/45px Noto Sans TC;
}

.privacy_contents_container p {
  font: normal normal normal 14px/45px Noto Sans TC;
}
